$clr-w: hsl(0, 0%, 95%);
$clr-w-l: hsl(0, 0%, 97%);
$clr-w-ll: hsl(0, 0%, 100%);
$clr-w-d: hsl(0, 0%, 90%);
$clr-w-dd: hsl(0, 0%, 80%);

$clr-b: hsl(0, 0%, 30%);
$clr-b-l: hsl(0, 0%, 45%);
$clr-b-ll: hsl(0, 0%, 60%);
$clr-b-d: hsl(0, 0%, 15%);
$clr-b-dd: hsl(0, 0%, 0%);

$clr-1: hsl(48, 100%, 50%);
$clr-1-l: hsl(48, 100%, 70%);
$clr-1-d: hsl(48, 100%, 40%);

$clr-2: hsl(54, 100%, 58%);
$clr-2-l: hsl(54, 100%, 80%);
$clr-2-d: hsl(54, 100%, 48%);

$clr-3: hsl(24, 100%, 50%);
$clr-3-l: hsl(24, 100%, 70%);
$clr-3-d: hsl(24, 100%, 40%);
